@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Spline+Sans&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    height: 40px;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: tan;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornsilk;
    border-bottom: 3px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    padding-right: 10px;
}

button {
    border-style: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.add-new {
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(67, 204, 67);
    padding: 10px 15px;
    border: 2px solid black;
}

.add-new:hover {
    background-color: rgb(57, 185, 57);
}

main {
    flex: 1;
    padding: 0 50px;
}

.add-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;

    padding: 20px 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header img {
    padding-left: 20px;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 40px;
}

.book-grid-item {    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.book-grid-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main-info, .sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-title {
    font-family: 'Spline Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.book-author {
    text-transform: capitalize;
}

.book-year {
    padding-bottom: 150px;
}

footer {
    font-weight: bold;
    text-align: center;
}

